body {
    text-align: center;
    margin: 0;

}

main {
    height: 486px;
   
}

h1 span {
    color: #EE24FF;
    font-weight: bold;
}

h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 32px;
    font-weight: normal;

}

p {
    font-family: 'Open Sans', sans-serif;
    color: #828282;
}

p span {
    font-weight: bolder;
    color: #3F3D56;
    font-size: 15px;
}

#line {
    width: 568px;
    height: 0px;

    margin: 0 auto 8px;

    border: 1px solid #ECEFF2;
}

footer a + a {
    margin-left: 28px;
}

footer a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-weight: bold;

    color: #3F3D56;
}